{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/inspection_dashboard.css' %}">
    </head>
    <body>

        <div class="inspection_today_layout">

            <div class="inspection_today_title">
                <p>Registros Diarios</p>
            </div>

            <div class='inspection_latest'>
                {% for i in today_inspections %}
                    {% if i.inspection_create == None %}
                        <div>No existen registros el dia de hoy</div>
                    {% else %}
                        <div class='inspection_latest_card'>
                            <p class='inspection_latest_card_control'>{{ i.inspection_control }}</p>
                            <p class='inspection_latest_card_number'>T{{ i.inspection_truck_number }}</p>
                            <p class='inspection_latest_card_date'>{{ i.inspection_create|date:"d F y, h:i a" }}</p>

                            <a class="inspection_latest_card_link" href="{% url 'InspectionReport' i.id %}" target="_blank">Descargar Reporte</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>

        <div class="inspection_latest_layout">
            <div>
                <p class="inspection_latest_title">Últimos Registros</p>
            </div>

            <div class='inspection_latest'>
                {% for i in latest_inspections %}
                <div class='inspection_latest_card'>
                    <p class='inspection_latest_card_control'>{{ i.inspection_control }}</p>
                    <p class='inspection_latest_card_number'>T{{ i.inspection_truck_number }}</p>
                    <p class='inspection_latest_card_date'>{{ i.inspection_create|date:"d F y, h:i a" }}</p>
                    <a class="inspection_latest_card_link" href="{% url 'InspectionReport' i.id %}" target="_blank">Descargar Reporte</a>
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="inspection_latest_layout">
            <div>
                <p class="inspection_latest_title">Archivo de Inspecciones</p>
            </div>
            <div>
                <a  href="{% url 'InspectionYearArchive' 2022 %}">Ir al archivo de inspecciones</a>
            </div>
        </div>

    </body>
</html>