<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reporte</title>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
            @page {
                size: letter portrait;
                margin: 1cm;
            }
            *{
                box-sizing: border-box;
            }
            .document-header-title p{
                font-size: 2rem;
            }
            .document-header-date p{
                font-size: 1rem;
            }
            .document-header-date p span{
                text-transform: capitalize;
            }
            .document-table{
                border: 1px solid gray;
                display: inline-block;
            }
            .document-table-title{
                background-color: rgb(53, 53, 53);
                color: white;
                padding-top: .2em;
                padding-bottom: .2em;
            }
            .document-table-title p{
                font-family: 'Roboto', sans-serif;
                font-size: 1.3em;
                margin-left: .5em;
            }
            .document-table-details{
                margin-left: .5em;
            }
            .document-table-images{
                margin-top: .5px;
                margin-bottom: .5px;
                margin-left: .5px;
                margin-right: .5px;
            }
            img{
                width: 150px;
                height: 150px;
                margin: 5%;
            }
            .signature{
                width: 5em;
            }
            table{
                font-size: 1.2em;
            }
            table tr th{
                text-align: left;
            }
            table tr td{
                text-align: left;
            }
            .container-access-title p{
                font-size: 1.8em;
                font-weight: bold;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .container-access-date p{
                font-size: 1.3em;
                margin-bottom: 0;
                margin-top: 0;
            }
            .container-inspection{
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .container-inspection-title p{
                font-size: 1.8em;
                font-weight: bold;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .container-inspection-date p{
                font-size: 1.3em;
                margin-bottom: 0;
                margin-top: 0;
            }
        </style>
        
    </head>

    <body>

        <div>

            <div class="container-access-title">
                <p>Control de Acceso Vehícular</p>
            </div>

            <div class="container-access-date">
                <p>{{ a.access_control }} {{ a.access_date|date:"d F y h:i a" }} </p>
            </div>

            <div class="document-table">
                <div class="document-table-title">
                    <p>1. Información del Tractocamión</p>
                </div>
                <div class="document-table-details">
                    <table>
                        <tr>
                            <th>Número:</th>
                            <th>Placas:</th>
                            <th>Modelo:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>T {{a.access_truck.truck_number}}</td>
                            <td>{{a.access_truck.truck_plates}}</td>
                            <td>{{a.access_truck.truck_model}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="document-table">
                <div class="document-table-title">
                    <p>2. Información de la Caja</p>
                </div>
                <div class="document-table-details">
                    <table style="margin-bottom: 5em; margin-top: 1em;">
                        <tr>
                            <th>Número:</th>
                            <th>Placas:</th>
                            <th>Estado:</th>
                            <th>Número de Sello:</th>
                            <th>Carta Porte:</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>C {{a.access_trailer.trailer_number}}</td>
                            <td>{{a.access_trailer.trailer_plate}}</td>
                            <td>{{ a.access_inspection.inspection_box_load }}</td>
                            <td>{{ a.access_inspection.inspection_box_seal }}</td>
                            <td>{{ a.access_inspection.inspection_document_cp_number }}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        {% if a.access_control == 'Entrada de Unidad' %}

        <div>

            <div class="container-inspection-title">
                <p>Inspección Vehículos de Carga</p>
            </div>

            <div class="container-inspection-date">
                <p>{{ a.access_control }} - {{ a.access_inspection.inspection_create|date:"d F y h:i a" }} </p>
            </div>

            <div class="document-table">

                <div class="document-table-title">
                    <p>1. Inspección del Tractocamión</p>
                </div>

                <div>
                    <table>
                        <tr>
                            <th>1. Defensa Delantera</th>
                            <th>2. Motor de Tractocamión</th>
                            <th>3. Neumaticos de Tractocamión</th>
                            <th>5. Tanque de Combustible</th>
                        </tr>
                        <tr>
                            <td>{{ a.access_inspection.inspection_truck_defense }}</td>
                            <td>{{ a.access_inspection.inspection_truck_engine }}</td>
                            <td>{{ a.access_inspection.inspection_truck_tires }}</td>
                            <td>{{ a.access_inspection.inspection_truck_fueltank }}</td>
                        </tr>
                        <tr>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_defense_image }}" /></td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_engine_image }}" /></td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_tires_image }}" /></td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_fueltank_image }}" /></td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="document-table">

                <div class="document-table-title">
                    <p>2. Inspección de la Caja</p>
                </div>

                <div>
                    <table>
                        <tr>
                            <th>5. Pared Izquierda</th>
                            <th>6. Pared Derecha</th>
                            <th>7. Puertas Traseras</th>
                            <th>8. Unidad de Refrigeración</th>
                        </tr>
                        <tr>
                            <td>{{ a.access_inspection.inspection_box_leftwall }}</td>
                            <td>{{ a.access_inspection.inspection_box_rightwall }}</td>
                            <td>{{ a.access_inspection.inspection_box_backdoors }}</td>
                            <td>{{a.access_inspection.inspection_box_coolingunit}}</td>
                        </tr>
                        <tr>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_leftwall_image }}" /></td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_rightwall_image }}" /></td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_backdoors_image }}" /></td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_coolingunit_image }}" /></td>
                        </tr>
                    </table>
                </div>

                <div id="footer_content">(c) - page <pdf:pagenumber>
                    of <pdf:pagecount>
                </div>

                <div>
                    <table style="margin-top: 14em;">
                        <tr>
                            <th>9. Neumaticos de la Caja</th>
                            <th>10. Contamintantes Agricolas</th>
                            <th>11. Puertas por Dentro</th>
                            <th>12. Ducto de Aire</th>
                        </tr>
                        <tr>
                            <td>{{a.access_inspection.inspection_box_tires}}</td>
                            <td>{{a.access_inspection.inspection_box_pollutants}}</td>
                            <td>{{ a.access_inspection.inspection_box_backdoors_inside }}</td>
                            <td>{{ a.access_inspection.inspection_box_airduct }}</td>
                        </tr>
                        <tr>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_tires_image }}" /></td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_pollutants_image }}" /></td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_backdoors_inside_image }}" /></td>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <div>
                    <table style="margin-top: 2em;">
                        <tr>
                            <th>13. Paredes por Dentro</th>
                            <th>14. Piso por Dentro</th>
                            <th>15. Debajo de la Caja</th>
                            <th>16. Sello de Seguridad</th>
                        </tr>
                        <tr>
                            <td>{{ a.access_inspection.inspection_box_walls_inside }}</td>
                            <td>{{a.access_inspection.inspection_box_floor}}</td>
                            <td>{{a.access_inspection.inspection_box_under}}</td>
                            <td>{{a.access_inspection.inspection_box_seal}}</td>
                        </tr>
                        <tr>
                            
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_walls_inside_image }}" /></td>
                            <td></td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_under_image }}" /></td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_seal_image }}" /></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="document-table">
                <div class="document-table-title">
                    <p>5. Información del Inspector</p>
                </div>
                <div class="document-table-details">
                    <table>
                        <tr>
                            <th>Nombre:</th>
                            <th>Número:</th>
                            <th>Registro:</th>
                            <th>Firma:</th>
                        </tr>
                        <tr>
                            <td>{{ a.access_inspection.inspection_inspector }}</td>
                            <td>{{ a.access_inspection.inspection_inspector.employee_number }}</td>
                            <td>{{ a.access_inspection.inspection_inspector.employee_rfc }}</td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_inspector.employee_signature }}" class="signature" /></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="document-table">
                <div class="document-table-title">
                    <p>6. Información del Conductor</p>
                </div>
                <div class="document-table-details">
                    <table>
                        <tr>
                            <th>Nombre:</th>
                            <th>Número:</th>
                            <th>Registro:</th>
                            <th>Firma:</th>
                        </tr>
                        <tr>
                            <td>{{ a.access_truck.truck_driver }}</td>
                            <td>{{ a.access_truck.truck_driver.employee_number }}></td>
                            <td>{{ a.access_truck.truck_driver.employee_rfc }}</td>
                            <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_signature_driver }}" class="signature" /></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
            
        {% elif a.access_control == 'Salida de Unidad' %}
            <div>

                <div class="container-inspection-title">
                    <p>Inspección Vehículos de Carga</p>
                </div>

                <div class="container-inspection-date">
                    <p>{{ a.access_control }} - {{ a.access_inspection.inspection_create|date:"d F y h:i a" }} </p>
                </div>

                <div class="document-table">

                    <div class="document-table-title">
                        <p>1. Inspección del Tractocamión</p>
                    </div>

                    <div>
                        <table>
                            <tr>
                                <th>1. Defensa Delantera</th>
                                <th>2. Motor de Tractocamión</th>
                                <th>3. Neumaticos de Tractocamión</th>
                                <th>5. Tanque de Combustible</th>
                            </tr>
                            <tr>
                                <td>{{ a.access_inspection.inspection_truck_defense }}</td>
                                <td>{{ a.access_inspection.inspection_truck_engine }}</td>
                                <td>{{ a.access_inspection.inspection_truck_tires }}</td>
                                <td>{{ a.access_inspection.inspection_truck_fueltank }}</td>
                            </tr>
                            <tr>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_defense_image }}" /></td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_engine_image }}" /></td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_tires_image }}" /></td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_fueltank_image }}" /></td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="document-table">

                    <div class="document-table-title">
                        <p>2. Inspección de la Caja</p>
                    </div>

                    <div>
                        <table>
                            <tr>
                                <th>5. Pared Izquierda</th>
                                <th>6. Pared Derecha</th>
                                <th>7. Puertas Traseras</th>
                                <th>8. Unidad de Refrigeración</th>
                            </tr>
                            <tr>
                                <td>{{ a.access_inspection.inspection_box_leftwall }}</td>
                                <td>{{ a.access_inspection.inspection_box_rightwall }}</td>
                                <td>{{ a.access_inspection.inspection_box_backdoors }}</td>
                                <td>{{a.access_inspection.inspection_box_coolingunit}}</td>
                            </tr>
                            <tr>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_leftwall_image }}" /></td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_rightwall_image }}" /></td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_backdoors_image }}" /></td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_coolingunit_image }}" /></td>
                            </tr>
                        </table>
                    </div>

                    <div id="footer_content">(c) - page <pdf:pagenumber>
                        of <pdf:pagecount>
                    </div>

                    <div>
                        <table style="margin-top: 5em;">
                            <tr>
                                <th>9. Neumaticos de la Caja</th>
                                <th>10. Contamintantes Agricolas</th>
                                <th>11. Puertas por Dentro</th>
                                <th>12. Ducto de Aire</th>
                            </tr>
                            <tr>
                                <td>{{a.access_inspection.inspection_box_tires}}</td>
                                <td>{{a.access_inspection.inspection_box_pollutants}}</td>
                                <td>{{ a.access_inspection.inspection_box_backdoors_inside }}</td>
                                <td>{{ a.access_inspection.inspection_box_airduct }}</td>
                            </tr>
                            <tr>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_tires_image }}" /></td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_pollutants_image }}" /></td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_backdoors_inside_image }}" /></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <table style="margin-top: 5em;">
                            <tr>
                                <th>13. Paredes por Dentro</th>
                                <th>14. Piso por Dentro</th>
                                <th>15. Debajo de la Caja</th>
                                <th>16. Sello de Seguridad</th>
                            </tr>
                            <tr>
                                <td>{{ a.access_inspection.inspection_box_walls_inside }}</td>
                                <td>{{a.access_inspection.inspection_box_floor}}</td>
                                <td>{{a.access_inspection.inspection_box_under}}</td>
                                <td>{{a.access_inspection.inspection_box_seal}}</td>
                            </tr>
                            <tr>
                                
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_walls_inside_image }}" /></td>
                                <td></td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_under_image }}" /></td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_seal_image }}" /></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="document-table">
                    <div class="document-table-title">
                        <p>5. Información del Inspector</p>
                    </div>
                    <div class="document-table-details">
                        <table>
                            <tr>
                                <th>Nombre:</th>
                                <th>Número:</th>
                                <th>Registro:</th>
                                <th>Firma:</th>
                            </tr>
                            <tr>
                                <td>{{ a.access_inspection.inspection_inspector }}</td>
                                <td>{{ a.access_inspection.inspection_inspector.employee_number }}</td>
                                <td>{{ a.access_inspection.inspection_inspector.employee_rfc }}</td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_inspector.employee_signature }}" class="signature" /></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="document-table">
                    <div class="document-table-title">
                        <p>6. Información del Conductor</p>
                    </div>
                    <div class="document-table-details">
                        <table>
                            <tr>
                                <th>Nombre:</th>
                                <th>Número:</th>
                                <th>Registro:</th>
                                <th>Firma:</th>
                            </tr>
                            <tr>
                                <td>{{ a.access_truck.truck_driver }}</td>
                                <td>{{ a.access_truck.truck_driver.employee_number }}></td>
                                <td>{{ a.access_truck.truck_driver.employee_rfc }}</td>
                                <td><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_signature_driver }}" class="signature" /></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        {% endif %}

        <div id="footer_content">(c) - page <pdf:pagenumber>
            of <pdf:pagecount>
        </div>

    </body>
</html>