<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reporte</title>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
            @page {
                size: letter landscape;
                margin: 1cm;
            }
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            .document-header-title p{
                font-size: 2rem;
            }
            .document-header-date p{
                font-size: 1rem;
            }
            .document-header-date p span{
                text-transform: capitalize;
            }
            .document-table{
                border: 1px solid gray;
                display: inline-block;
            }
            .document-table-title{
                background-color: rgb(53, 53, 53);
                color: white;
                padding-top: .2em;
                padding-bottom: .2em;
            }
            .document-table-title p{
                font-family: 'Roboto', sans-serif;
                font-size: 1rem;
                margin-left: .5em;
            }
            .document-table-details{
                margin-left: .5em;
            }
            .document-table-details ul li{
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: .8rem;
            }
            .document-table-details ul li span{
                font-weight: bold;
            }
            .document-table-list{
                padding-top: 1em;
                padding-left: 1em;
                padding-right: 0;
                padding-bottom: 1em;
            }
            .document-table-list ul li{
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: .9rem;
                margin-bottom: .3em;
            }
            .document-table-list ul li span{
                font-weight: 500;
            }
            .document-table-images{
                margin-top: .5px;
                margin-bottom: .5px;
                margin-left: .5px;
                margin-right: .5px;
            }
            img{
                width: 150px;
                height: 150px;
                margin: 5%;
            }
            .signature{
                width: 5em;
            }
            table{
                font-size: .9rem;
            }
        </style>
        
    </head>

    <body>

        {% if a.access_control == 'Entrada de Unidad' %}

            <div class="document-header">
                <div class="document-header-date">
                    <p>{{ a.access_inspection.inspection_create|date:"d F y, h:i a" }} {{ a.access_control }}</p>
                </div>
            </div>

            <div class="document-table">
                <div class="document-table-title">
                    <p>1. Información del Tractocamión</p>
                </div>
                <div class="document-table-details">
                    <table>
                        <tr>
                            <th>Número:</th>
                            <th>Placas:</th>
                            <th>Modelo:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">T{{a.access_truck.truck_number}}</td>
                            <td style="text-align: center;">{{a.access_truck.truck_plates}}</td>
                            <td style="text-align: center;">{{a.access_truck.truck_model}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="document-table">

                <div class="document-table-title">
                    <p>2. Inspección del Tractocamión</p>
                </div>

                <div class="document-table-list">
                    <table>
                        <tr>
                            <th>1. Defensa Delantera</th>
                            <th>2. Motor de Tractocamión</th>
                            <th>3. Neumaticos de Tractocamión</th>
                            <th>5. Tanque de Combustible</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_truck_defense }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_truck_engine }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_truck_tires }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_truck_fueltank }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_defense_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_engine_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_tires_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_truck_fueltank_image }}" /></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="document-table">
                <div class="document-table-title">
                    <p>3. Información de la Caja</p>
                </div>
                <div class="document-table-details">
                    <table>
                        <tr>
                            <th>Número:</th>
                            <th>Placas:</th>
                            <th>Modelo:</th>
                            <th>Estado:</th>
                            <th>Sello de Seguridad:</th>
                            <th>Número Carta Porte:</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">C{{a.access_trailer.trailer_number}}</td>
                            <td style="text-align: center;">{{a.access_trailer.trailer_plate}}</td>
                            <td style="text-align: center;">{{a.access_trailer.trailer_type}}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_box_load }}</td>
                            <td style="text-align: center;">
                            {% if a.access_inspection.inspection_box_seal == None %}
                                No se definio
                            {% else %}
                                {{ a.access_inspection.inspection_box_seal }}
                            {% endif %}
                            </td>
                            <td style="text-align: center;">
                            {% if a.access_inspection.inspection_document_cp_number == None %}
                                No se definio
                            {% else %}
                                {{ a.access_inspection.inspection_document_cp_number }}
                            {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="document-table">

                <div class="document-table-title">
                    <p>4. Inspección de la Caja</p>
                </div>

                <div class="document-table-list">
                    <table>
                        <tr>
                            <th>10. Pared Izquierda</th>
                            <th>11. Pared Derecha</th>
                            <th>12. Puertas Traseras</th>
                            <th>16. Unidad de Refrigeración</th>
                            <th>17. Neumaticos de la Caja</th>
                            <th>18. Contamintantes Agricolas</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_box_leftwall }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_box_rightwall }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_box_backdoors }}</td>
                            <td style="text-align: center;">{{a.access_inspection.inspection_box_coolingunit}}</td>
                            <td style="text-align: center;">{{a.access_inspection.inspection_box_tires}}</td>
                            <td style="text-align: center;">{{a.access_inspection.inspection_box_pollutants}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_leftwall_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_rightwall_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_backdoors_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_coolingunit_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_tires_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_pollutants_image }}" /></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="document-table">
                <div class="document-table-title">
                    <p>5. Información del Inspector</p>
                </div>
                <div class="document-table-details">
                    <table>
                        <tr>
                            <th>Nombre:</th>
                            <th>Número:</th>
                            <th>Registro:</th>
                            <th>Firma:</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_inspector }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_inspector.employee_number }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_inspector.employee_rfc }}</td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_inspector.employee_signature }}" class="signature" /></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="document-table">
                <div class="document-table-title">
                    <p>6. Información del Conductor</p>
                </div>
                <div class="document-table-details">
                    <table>
                        <tr>
                            <th>Nombre:</th>
                            <th>Número:</th>
                            <th>Registro:</th>
                            <th>Firma:</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{ a.access_truck.truck_driver }}</td>
                            <td style="text-align: center;">{{ a.access_truck.truck_driver.employee_number }}></td>
                            <td style="text-align: center;">{{ a.access_truck.truck_driver.employee_rfc }}</td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_truck.truck_driver.employee_signature }}" class="signature" /></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            
        {% elif a.access_control == 'Salida de Unidad' %}

            <div class="document-header">

                <div class="document-header-date">
                    <p>{{ a.access_inspection.inspection_create|date:"d F y, h:i a" }} {{ a.access_control }}</p>
                </div>

            </div>
    
            <div class="document-table">
                <div class="document-table-title">
                    <p>1. Información del Tractocamión</p>
                </div>

                <div class="document-table-details">
                    <table>
                        <tr>
                            <th>Número:</th>
                            <th>Placas:</th>
                            <th>Modelo:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">T{{a.access_truck.truck_number}}</td>
                            <td style="text-align: center;">{{a.access_truck.truck_plates}}</td>
                            <td style="text-align: center;">{{a.access_truck.truck_model}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="document-table">
                <div class="document-table-title">
                    <p>2. Información de la Caja</p>
                </div>
                <div class="document-table-details">
                    <table>
                        <tr>
                            <th>Número:</th>
                            <th>Placas:</th>
                            <th>Modelo:</th>
                            <th>Vacío o Cargado:</th>
                            <th>Sello de Seguridad:</th>
                            <th>Número de Carta Porte:</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">C{{a.access_trailer.trailer_number}}</td>
                            <td style="text-align: center;">{{a.access_trailer.trailer_plate}}</td>
                            <td style="text-align: center;">{{a.access_trailer.trailer_type}}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_box_load }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_box_seal }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_document_cp_number }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="document-table">

                <div class="document-table-title">
                    <p>3. Inspección de la Caja</p>
                </div>

                <div class="document-table-list">
                    <table>
                        <tr>
                            <th>10. Pared Izquierda</th>
                            <th>11. Pared Derecha</th>
                            <th>12. Puertas Traseras</th>
                            <th>16. Unidad de Refrigeración</th>
                            <th>17. Neumaticos de la Caja</th>
                            <th>18. Contaminantes Agricolas</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_box_leftwall }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_box_rightwall }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_box_backdoors }}</td>
                            <td style="text-align: center;">{{a.access_inspection.inspection_box_coolingunit}}</td>
                            <td style="text-align: center;">{{a.access_inspection.inspection_box_tires}}</td>
                            <td style="text-align: center;">{{a.access_inspection.inspection_box_pollutants}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_leftwall_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_rightwall_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_backdoors_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_coolingunit_image }}" /></td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_tires_image }}" /></td>
                            <td style="text-align: center;">                    <img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_box_pollutants_image }}" /></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="document-table">
                <div class="document-table-title">
                    <p>5. Información del Inspector</p>
                </div>
                <div class="document-table-details">
                    <table>
                        <tr>
                            <th>Nombre:</th>
                            <th>Número:</th>
                            <th>Registro:</th>
                            <th>Firma:</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_inspector }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_inspector.employee_number }}</td>
                            <td style="text-align: center;">{{ a.access_inspection.inspection_inspector.employee_rfc }}</td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_inspection.inspection_inspector.employee_signature }}" class="signature" /></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    
                </div>
            </div>

            <div class="document-table">
                <div class="document-table-title">
                    <p>6. Información del Conductor</p>
                </div>
                <div class="document-table-details">
                    <table>
                        <tr>
                            <th>Nombre:</th>
                            <th>Número:</th>
                            <th>Registro:</th>
                            <th>Firma:</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{ a.access_truck.truck_driver }}</td>
                            <td style="text-align: center;">{{ a.access_truck.truck_driver.employee_number }}</td>
                            <td style="text-align: center;">{{ a.access_truck.truck_driver.employee_rfc }}</td>
                            <td style="text-align: center;"><img src="http://45.15.25.150:8001/media/{{ a.access_truck.truck_driver.employee_signature }}" class="signature" /></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

        {% endif %}

    </body>
</html>